.prefecture{
  width: 900px;
  margin: 0 auto;
  padding:50px 0;
  &__name{
    font-size: 35px;
    font-weight:normal;
    letter-spacing: 0.1em;
    border-bottom: double 5px #AD2022;
    .prefecture__nickname{
      width: 50%;
    }
    .logout{
      width: 50%;
      text-align: right;
      a{
        text-decoration: none;
        background: #F1322C;
        padding: 4px;
        border-radius: 2px;
        margin-bottom: 4px;
        font-size: 18px;
      }
    }
  }
  #prefecture-huro{
      display: flex
  }
  &__review{
    padding-top:30px;
    &__list{
      display: flex;
      padding: 20px ;
      background: #fff;
      border-left: solid 3px #AD2022;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
      margin: 0 auto;
      margin-top: 60px ;
      height: 100%;
      &__huro{
        margin: 0; 
        padding: 0;
        display: flex;
        width: 100%;
        &__left{
        }
        &__right{
          width: 100%;
          margin-left:25px;
          &__title{
            font-size:25px;
            color: black;
            margin-bottom:5px;
            font-weight:normal;
            letter-spacing: 0.1em;
            border-bottom: double 5px #AD2022;
            display: flex;
          }
          &__region{
            color: black;
            margin: 20px 0;
            border-bottom: dashed 1px #AD2022;
            span{
              color: black;
              margin-left: 10px;
            }
          }
          &__category{
            color: black;
            margin: 20px 0;
            border-bottom: dashed 1px #AD2022;
            span{
              color: black;
              margin-left: 10px;
            }
          }
          &__price{
            color: black;
            margin: 20px 0;
            border-bottom: dashed 1px #AD2022;
            span{
              color: black;
              margin-left: 10px;
            }
          }
        }
      }
    }
    &__list :hover{
      opacity: 0.5;
    }
  }
}


.review-title {
  color: black;
  font-weight: 600;
  margin-bottom: 5px;
}


@media screen and (max-width:500px){
  .prefecture{
    width: auto;
  }

  .prefecture__name{
    font-size: 20px;
  }
}