body{
  background-color:rgb(255, 255, 255);
}
*{
  font-family: Georgia, serif;
}
.contents{
  margin: 0;
  padding: 0;
  &-main{
    height: 100%;
    width: 100%;
    &__header{
      width: 100%;
      &__photo{
        display: flex;
        .header-link{
          display: flex;
          width: 100%;
          .huronavi{
            width: 33%;
            text-align: center;
            line-height: 60px;
            cursor: pointer;
            border-right:1px solid #999;
          }
          .login{
            width: 34%;
            display: flex;
            .login-tomo{
              width: 100%;
              text-align: center;
              .signup{
                text-align: center;
                line-height: 60px;
                text-decoration: none;
                color: black;
              }
            }
          }
        }
      }
    }
    &__title{
      background-image: url("https://i.gyazo.com/a46ec269d775449cd4ae1b69686db07f.jpg");
      background-repeat:  no-repeat;                        
      height: 730px;    
      margin: 0 auto;     
      opacity: 0.8; 
      &__list {
        &__huro{
          text-align: center;
          color: white;
          font-size: 90px;
          font-family: cursive;
          padding-top: 280px;
        }
        &__button{
          text-align: center;
          margin-top:20px;
          .post{
            display: inline-block;
            width: 160px;
            padding: 0.8em;
            text-align: center;
            text-decoration: none;
            color: #fff;
            background:#F1322C;
            border-bottom:4px solid #AD2022;
            border-radius: 4px;
          }
          .post :hover{
            cursor: pointer;
            text-decoration: none;
            background:#AD2022;
            transform: translate3d(0, 4px, 0);
            border-bottom: none;
          }
        }
      } 
    }
    &__link{
      text-align: center;
    }  
    &__text{
      text-align: center;
      font-size:30px;
      padding:20px 0;
    }
      &__list{
        width: 1100px;
        margin: 0 auto;
        &__new{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr ;
          gap: 26px;
          grid-template-rows: 300px 300px;
          margin-top: 6px;
          margin-bottom: 50px;
          p{
            font-size: 20px;
            color: black;
          }
        }
      }
    // &__list{
    //   display: flex;
    //   &__new{
    //     display: flex;
    //     widows: 300px;
    //     margin: 0 auto;
    //     &__review{
    //       background-color: #f5f5f5;
    //       width: 250px;
    //       height: 100%;
    //       margin: 20px;
    //       &__title{
    //         text-align: center;
    //         font-size: 20px;
    //         font-weight: bold;
    //         margin-bottom: 10px;
    //         height: 40px;
    //         line-height: 40px;
    //         color: black;
    //         border-bottom: 1px solid rgb(245, 245, 245);
    //       }
    //       &__image{
    //         text-align: center;
    //         border-bottom: 1px solid rgb(245, 245, 245);
    //         img{
    //           margin: 10px 0 10px 0;
    //         }
    //       }
    //       &__rate{
    //         text-align: center;
    //         margin-top:30px;
    //       }
    //     }
    //   }
    // }
  }
  &-footer{
    text-align: center;
    height: 100%;
    line-height: 250px;
    .bath-icon{
    font-size:50px;
    color: black;
    }
  }
}

.heart-icon{
  color: black;
  font-size:20px;
  cursor: pointer;
}

.link{
  text-decoration: none;
}

.japan-map{
  text-align: center;
  margin-top:30px;
  font-size: 30px;
}

#map-container{
  text-align: center;
  margin-top:40px;
}