.image_post{
  display: none;
}
.image{
  width: 100px;
  height: 150px;
  background-color: #F5F5F5;
  border: dashed 1px #ccc;
}
.form-list__photo__image{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
    button{
      background-color:red;
      margin-top:5px;
      width:100%;
      color: white;
      border-radius: 4px;
    } 
}

#photo_0,
#photo_1,
#photo_2,
#photo_3,
#photo_4,
#photo_5{
  height: 150px;
  width: 100px;
  top: 0;
  right: 0;
}
  
.review{
  margin-top: 90px;
  .review-form{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    &__title{
      font-size: 35px;
      font-weight:normal;
      letter-spacing: 0.1em;
      border-bottom: double 5px #AD2022;
    }
    &__many{
      margin-top:50px;
      height: 100%;
      background-color: #fff;
      &__photo{
        border-bottom: 1px solid #eee;
        padding: 40px;
        .form-require{
          color: #ffffff;
          background-color: #ea352d;
          font-size: 12px;
          padding: 2px 4px;
          margin: 0 0 0 8px;
          border-radius: 2px;
          height: 15px;
          line-height: 15px;
        }
        &__image{
          display: flex;
        }
      }
      &__explanation{
        border-bottom: 1px solid #eee;
        padding: 40px;
        .form-list{
          margin-top:20px;
          .form-label{
            margin-bottom:8px;
            .form-require {
              color: #ffffff;
              background-color: #ea352d;
              font-size: 12px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              border-radius: 2px;
              height: 15px;
              line-height: 15px;
            }
          }
          .form-title{
            width: 95%;
            height: 36px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          #impressions{
            height: 90px;
          }
        }
      }
      &__region{
        padding: 40px;
        border-bottom: 1px solid #eee;
        .form-list{
          margin-top:25px;
          .form-label{
            margin-bottom:8px;
            .form-require {
              color: #ffffff;
              background-color: #ea352d;
              font-size: 12px;
              padding: 2px 4px;
              margin: 0 0 0 8px;
              border-radius: 2px;
              height: 15px;
              line-height: 15px;
            }
          }
          .form-title{
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            width: 55%;
          }
          #review_prefecture_id{
            height: 48px;
            padding: 0 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: 0;
            font-size: 16px;
            line-height: 1.5;
            width: 60%;
          }
        }
      }
      &__check{
        padding: 40px;
        &__title{
          margin-bottom: 20px;
        }
        .check_box{
          margin-top:10px;
          label{
          font-weight: normal;
          }
        }
      }
      &__button{
        text-align: center;
        padding: 30px 0 ;
        .button{
          width: 160px;
          padding: 0.8em;
          text-align: center;
          text-decoration: none;
          color: #fff;
          background: #F1322C;
          border-bottom: 4px solid #AD2022;
          border-radius: 4px;
        }
      }
      &__button :hover{
        cursor: pointer;
        background:#AD2022;
        transform: translate3d(0, 4px, 0);
        border-bottom: none;
      }
    }
  }
}

label{
  color: black;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 18px;
}

.form-title,select{
  color: black;
}