
.list{
  margin-top:90px;
  &_contents{
    width: 800px;
    height: 100%;
    margin: 0 auto;
    &__title{
      font-size: 35px;
      font-weight:normal;
      letter-spacing: 0.1em;
      border-bottom: double 5px #AD2022;
      display: flex;
      &__left{
        width: 70%;
      }
      .delete-update{
        width: 30%;
        text-align: center;
        a{
          text-decoration: none;
        }
        .delete-btn{
          background: #F1322C;
          font-size: 20px;
          padding: 3px;
          border-radius: 2px;
          margin-bottom: 4px;
        }
        .updete-btn{
          background-color: #000;
          font-size: 20px;
          padding: 3px;
          border-radius: 2px;
          margin-bottom: 4px;
        }
      }
    }
    &__main {
      margin-top:50px;
      height: 100%;
      background-color: #fff;
      &__photo {
        text-align: center;
        .main-image{
          margin-top: 50px;
        }
        &__sub{
          margin-top: 20px;
          .sub-image{
            margin-right: 10px;
            border: 1px solid #ccc;
          }
        }
      }
      &__review{
        width:600px;
        margin: 0 auto;
        height: 100%;
        &__huro{
          color: black;
          padding-top :30px ;
          .review-title{
            color: black;
            font-size: 25px;
            margin-bottom: 5px;
            font-weight: 600;
          }
          .review-name{
            color: black;
            padding: 5px;
            border-bottom: dashed 1px #AD2022;
          }
        }
        &__text{
          border-top: dashed 1px #AD2022;
          padding :40px 0;
          .review-title{
            color: black;
            font-size: 25px;
            margin-bottom: 5px;
            font-weight: 600;
          }
          .text-box{
            height: 100%;
            border: dashed 1px #ccc;
            color: #000;
            p{
              color: #000;
              padding: 10px;
              word-break: break-all
            }
          }
        }
        span{
          color: black;
          padding: 5px 5px 5px 0;
        }
      }
    }
  }
}
.comments{
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 800px;
  background-color: white;
  margin-top:20px;
  &-huro{
    background-color: white;
    width: 600px;
    margin: 0 auto;
    &__list{
      display: flex;
      padding:40px 0;
      width: 100%;
      .comment-user{
        margin-right: 20px;
        .comment-nickname{
          white-space: nowrap;
          color: #000;
        }
      }
      .comment-text {
        position: relative;
        padding: 20px;
        background: #eef0f4;
        border-radius: 10px;  
        width:100%;    
      }

      .comment-text:before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: -15px;
        top: 10px;
        border-right: 15px solid #eef0f4;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
      }

        .comment-text__box{
          margin: 0;
          padding: 0;
          p{
            word-break: break-all;
            color: black;
          }
        }
      }
  }
  .comment-form{
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    width: 600px;
    border: #ddd solid 1px;
    height: 100px;
    color: black;
    } 
    .comment-btn{
      margin:40px 0 40px 0;
      background-color: #F1322C;
      color: white;
      width: 200px;
      height: 30px;
    }
}
.user-icon{
  border-radius: 50%;     
}

@media screen and (max-width:500px){

  .list{
    margin-top:40px;
  }

  .list_contents{
    width: auto;
  }

  .list_contents__title{
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
  }

  .list_contents__main {
   width: 100%;
    margin: 0 auto;
    margin-top:30px;
  }

  .list_contents__main__photo__list{
    img{
      width: 200px;
      height: 150px;
    }
  }

  .list_contents__main__photo__sub{
    img{
      height: 30px;
      width: 30px;
    }
  }
  
  .list_contents__main__review{
    width: auto;
  }

  .comments {
    width: 100%;
  }
  
  .comments-huro__list{
    width: 330px;
    margin: auto;
  }

  .comment-form{
    width: 100%;
  }

  #submit_btn{
    textarea{
      width: 330px;
      margin: 30px 0 auto;
    }
  }

  .comments-huro{
    width:auto;
  }
  .list_contents__main__review__huro{
    width: 330px;
    margin: auto;
  }

  .list_contents__main__review__text{
    width: 330px;
    margin: auto;
  }

}