.contents-main
  %header.contents-main__header
    .contents-main__header__photo
      .header-link
        .main-header 
          = link_to root_path do
            Huronavi
        %nav
          .huronavi 都道府県から探す
        %nav
          .huronavi カテゴリーから探す
        .login
          - if user_signed_in?
            .login-tomo
              = link_to "マイページ",user_path(current_user), class: 'signup'
          - else
            .login-tomo
              = link_to "ログイン", new_user_session_path, class: 'signup'
            .login-tomo
              = link_to "新規登録", new_user_registration_path, class: 'signup'