.contents
  .contents-header
    .contents-header__title 温泉APP
    .contents-header__registration
      - if user_signed_in?
        .login
          = link_to "ログアウト",destroy_user_session_path, method: :delete,class: 'signup'
          = link_to "投稿する", new_review_path,class: 'signup'
      - else
        .logout
          = link_to "ログイン", new_user_session_path, class: 'signup'
          = link_to "新規登録", new_user_registration_path, class: 'signup'
  .contents-main
    -# - @review.each do |review|
    -# .contents-main__left
    -#   = review.name
    -# .contents-main__right
      