.contents-main
  .contents-main__text
    新着投稿
  .contents-main__list
    .contents-main__list__new
      - @review.each do |review|
        = link_to review_path(review) ,class:"link"do
          .contents-main__list__new__review
            .contents-main__list__new__review__title
              = review.title
            .contents-main__list__new__review__image
              = image_tag "#{review.photos[0].image}",width:"200px",height:"250px"
            .contents-main__list__new__review__rate
              ⭐️⭐️⭐️⭐️⭐️
  -# .contents-main__japan
  -#   .contents-main__japan__title
  -#     都道府県から探す
  -#   %ul
  -#     %li
  -#       北海道・東北地方
  -#       = link_to "#" do
  -#         北海道
  -#       = link_to "#" do
  -#         青森県
  -#       = link_to "#" do
  -#         岩手県
  -#       = link_to "#" do
  -#         秋田県
  -#       = link_to "#" do
  -#         宮城県
  -#       = link_to "#" do
  -#         山形県
  -#       = link_to "#" do
  -#         福島県
  -#     %li
  -#       関東地方
  -#       = link_to "#" do
  -#         茨城県
  -#       = link_to "#" do
  -#         栃木県
  -#       = link_to "#" do
  -#         群馬県
  -#       = link_to "#" do
  -#         埼玉県
  -#       = link_to "#" do
  -#         東京都
  -#       = link_to "#" do
  -#         千葉県
  -#       = link_to "#" do
  -#         神奈川県
  -#     %li
  -#       北陸地方
  -#       = link_to "#" do
  -#         新潟県
  -#       = link_to "#" do
  -#         栃木県
  -#       = link_to "#" do
  -#         群馬県
  -#       = link_to "#" do
  -#         埼玉県
  -#       = link_to "#" do
  -#         東京都
  -#       = link_to "#" do
  -#         千葉県
  -#       = link_to "#" do
  -#         神奈川県
    
    
